html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
    background:url("/static/images/bg1.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.logo{
    letter-spacing: 1px;
    float: left;
    color: #fff;
    font-size: 32px;
    line-height: 80px;
    padding: 0 1em;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 0 20px ;
}
ul li:nth-child(1) a{
    color: #ceff30;
    border: 2px solid #ceff30;
    padding: 10px 20px;
    border-radius: 4px;
}
.tengah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.tengah h1{
    color: #fff;
    font-size: 8vw;
    font-weight: 400;
    margin-bottom: 8px;
}
.button1{
    color: white;
    background: #ceff30;
    padding: 12px 32px;
    border: none;
}
.button2{
    color: white;
    background: #0c060c;
    padding: 12px 32px;
    border: none;
}
.button3{
    color: white;
    background: #ff7b9f;
    padding: 12px 32px;
    border: none;
}
.button4{
    color: white;
    background: #ccecff;
    padding: 12px 32px;
    border: none;
}

.wrapper{
    width: 500px;
    margin: 80px auto 0;
}
.wrapper .tengah .accordion_wrap .accordion_header{
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 15px;
    color: #738aff;
    font-weight: 700;
    border-bottom: 2px solid #39a098;
    position: relative;
    cursor: pointer;
}

.wrapper .tengah .accordion_wrap:first-child .accordion_header{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.wrapper .tengah .accordion_wrap:last-child .accordion_header{
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.wrapper .tengah .accordion_wrap:last-child .accordion_header:hover{
    border-bottom: 2px solid transparent;
}

.wrapper .tengah .accordion_wrap .accordion_header:before,
.wrapper .tengah .accordion_wrap .accordion_header:after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 20px;
    height: 2px;
    background: #39a098;
}

.wrapper .tengah .accordion_wrap .accordion_header:hover{
    color: #01645d;
    border-color: #01645d;
}

.wrapper .tengah .accordion_wrap .accordion_header:hover:before,
.wrapper .tengah .accordion_wrap .accordion_header:hover:after{
    background: #01645d;
}

.wrapper .tengah .accordion_wrap .accordion_header:after{
    transform: rotate(-90deg);
    transition: all 0.5s ease;
}

.wrapper .tengah .accordion_wrap .accordion_body{
    width: 100%;
    height: 0px;
    transition: all 0.5s ease;
    background: #39a098;
    overflow: hidden;
}

.wrapper .tengah .accordion_wrap .accordion_body p{
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.wrapper .tengah .accordion_wrap .accordion_header.active{
    color: #01645d;
    border-color: #01645d;
}

.wrapper .tengah .accordion_wrap:last-child .accordion_header.active{
    border-bottom: 2px solid #01645d;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.wrapper .tengah .accordion_wrap .accordion_header.active:before,
.wrapper .tengah .accordion_wrap .accordion_header.active:after{
    background: #01645d;
}

.wrapper .tengah .accordion_wrap .accordion_header.active:after{
    transform: rotate(0deg);
}

.wrapper .tengah .accordion_wrap .accordion_header.active + .accordion_body{
    height: 180px;
}
